[submodule "reference/lcd-example"]
	path = reference/lcd-example
	url = https://github.com/waveshareteam/ESP32-S3-Touch-LCD-7.git
[submodule "reference/esp-faq"]
	path = reference/esp-faq
	url = https://github.com/espressif/esp-faq.git
